@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Bungee&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #95dbf1 0%, #2e9ece 100%);

  font-family: "Baloo 2", sans-serif;
  color: #030106;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.e-l-header.is-open .e-l-header-background {
  left: 0;
}
.e-l-header-button-wrapper {
  margin-left: auto;
}
.e-l-header-icon {
  display: none;
}

.e-l-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.e-l-navigation-list.is-open {
  right: 0;
}
.e-l-header-icon-menu {
  display: block;
}

.e-l-header-icon-button.is-open .e-l-header-icon-menu {
  display: none;
}

.e-l-header-icon-button.is-open .e-l-header-icon-close {
  display: block;
}

.e-l-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 74px;
}

.e-l-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #95dbf1;
}
.e-l-header.is-open .e-l-header-background {
  left: 0;
}
.e-l-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-l-header-icon-menu {
  display: block;
}

.e-l-header-icon-button.is-open .e-l-header-icon-menu {
  display: none;
}

.e-l-header-icon-button.is-open .e-l-header-icon-close {
  display: block;
}

.e-l-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 20px;
  position: relative;
}

.e-l-navigation-list {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 100px 0 0 115px;
  gap: 32px;
  background: linear-gradient(180deg, #95dbf1 0%, #2e9ece 100%);
}

.e-l-navigation-link {
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #030106;
}

.e-l-navigation-link:hover,
.e-l-navigatioт-link:focus {
  color: #fb090b;
}
.e-l-navigation-list.is-open {
  right: 0;
}
.e-l-header.is-open {
  background-color: transparent;
}

.e-l-navigation-img {
  display: none;
}

@media screen and (min-width: 1208px) {
  .e-l-navigation-img {
    display: flex;
  }
  .e-l-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }

  .e-l-header {
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: #9dd6ff;
    border: 1px solid #2e9ece;
    width: 1280px;
    height: 47px;
    border-radius: 20px;
    padding: 12px 20px;
  }

  .e-l-header-background {
  }
  .e-l-header-icon-button {
    display: none;
  }
  .e-l-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .e-l-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 110px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .e-l-navigation-link {
    font-family: Baloo 2;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .e-l-navigation-item-desk {
    display: none;
  }
}
.e-l-home {
  width: 375px;
  height: 820px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home\ mobile.png");
  margin: auto;
}
.e-l-home-container {
  padding: 330px 20px 0px;
}
.e-l-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.e-l-home-title {
  width: 335px;
  height: 113px;
}

@media screen and (min-width: 1208px) {
  .e-l-home {
    width: 1440px;
    height: 820px;
    background-image: url("/img/home/Home.png");
  }
  .e-l-home-container {
    width: 1440px;
    padding: 320px 0px 0px;
  }

  .e-l-home-title {
    width: 843px;
    height: 286px;
  }
}
.e-l-about {
  margin: auto;
  width: 375px;
  padding-top: 80px;
}
.e-l-about-container {
  padding: 0px 20px 0px;
  margin: auto;
  height: 682px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Overview.png");
}
.e-l-about-title {
  font-family: Bungee;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(360deg, #fb090b 40.56%, #fbe180 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.e-l-about-text {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 460px;
}

.e-l-about-text-bold {
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1208px) {
  .e-l-about {
    margin: auto;
    width: 1440px;
    padding: 150px 80px 0;
  }
  .e-l-about-container {
    padding: 0px 0px 0px;
    margin: auto;
    height: 622px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Frame\ 46.png");
  }
  .e-l-about-title {
    font-family: Bungee;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .e-l-about-text {
    padding-top: 36px;
    width: 630px;
    margin-left: auto;
  }
}

.e-l-how {
  margin: auto;
  width: 375px;
  padding: 80px 0 0;
}
.e-l-how-container {
  margin: auto;
  height: 494px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ to\ play.png");
  padding: 0px 20px 0;
}
.e-l-how-list {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.e-l-how-item {
  width: 335px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  border-radius: 20px;
  background: #9dd6ff;
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1208px) {
  .e-l-how {
    margin: auto;
    width: 1440px;
    padding: 150px 80px 0;
  }
  .e-l-how-container {
    margin: auto;
    height: 643px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Frame\ 48.png");
    padding: 0px 108px 0;
  }
  .e-l-how-list {
    padding-top: 183px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    column-gap: 300px;
  }

  .e-l-how-item {
    width: 382px;
    height: 56px;
    gap: 10px;
    padding-top: 13px;
    padding-right: 10px;
    padding-bottom: 13px;
    padding-left: 10px;
    border-radius: 20px;
    font-family: Baloo 2;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.e-l-why-container {
  padding: 80px 20px 0;
  margin: auto;
  width: 375px;
}
.e-l-why-list {
  padding-top: 28px;
}
.e-l-why-item {
  margin: 0 10px;
  width: 305px;
  height: 339px;
}
.e-l-why-img {
  width: 161px;
  height: 161px;
  margin: 0 auto -92px;
}
.e-l-why-item-two {
  width: 305px;
  height: 249px;
  top: 75px;
  gap: 18px;
  padding-top: 92px;
  padding-right: 22px;
  padding-bottom: 48px;
  padding-left: 22px;
  border-radius: 20px;
  background: #9dd6ff;
}
.e-l-why-text-bold {
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #ea5657;
}

.e-l-why-text {
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1208px) {
  .e-l-why-container {
    padding: 140px 80px 0;
    margin: auto;
    width: 1440px;
  }
  .e-l-why-list {
    padding-top: 36px;
  }
  .e-l-why-item {
    margin: 0 10px;
    width: 305px;
    height: 339px;
  }
}

.e-l-reviews {
  margin: auto;
  width: 375px;
  padding: 80px 0;
}
.e-l-reviews-container {
  margin: auto;
  height: 543px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Unique\ Twist.png");
  padding: 0px 20px 0;
}

.e-l-reviews-text {
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding: 244px 0 0px;
}

@media screen and (min-width: 1208px) {
  .e-l-reviews {
    margin: auto;
    width: 1440px;
    padding: 150px 0;
  }
  .e-l-reviews-container {
    margin: auto;
    height: 379px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Unique\ Twist\ \(1\).png");
    padding: 0px 188px 0;
  }

  .e-l-reviews-text {
    font-family: Baloo 2;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 522px;
    padding: 85px 0 0px;
  }
}

.e-l-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0px;
}
.e-l-gallery-list {
  width: auto;
  padding-top: 28px;
  margin: auto;
}

.e-l-gallery-item {
  width: 335px;
  height: 234px;
  border-radius: 20px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.e-l-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.e-l-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1208px) {
  .e-l-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }

  .e-l-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .e-l-gallery-button-icon {
    width: 42px;
    height: 42px;
  }
  .e-l-gallery-button:hover {
    scale: 120%;
  }

  .e-l-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 150px 80px 0px;
  }
  .e-l-gallery-item {
    width: 522px;
    height: 364px;
    border-radius: 20px;

    margin: 0 10px;
  }

  .e-l-gallery-list {
    padding: 36px 0 28px;
  }
}

.e-l-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0px;
}
.e-l-features-list {
  padding-top: 28px;
}

.e-l-features-item {
  width: 197px;
  height: 314px;
  gap: 14px;
  border-radius: 20px;
  padding: 16px;
  background: #9dd6ff;
  margin: 0 10px;
}

.e-l-features-img {
  width: 98px;
  height: 103px;
  border-radius: 28px;
  margin: 0 auto;
}
.e-l-features-text-bold {
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #ea5657;
  padding: 14px 0 8px;
}
.e-l-features-text {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1208px) {
  .e-l-features-container {
    width: 1440px;
    margin: auto;
    padding: 140px 80px 0px;
  }
  .e-l-features-list {
    padding-top: 36px;
  }
}

.e-l-policy-terms-container {
  padding: 126px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.e-l-policy-terms-container h1 {
  font-family: Bungee;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(360deg, #fb090b 40.56%, #fbe180 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 30px;
}
.e-l-policy-terms-container h2 {
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  margin-top: 20px;
}
.e-l-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.e-l-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1208px) {
  .e-l-policy-terms-container {
    padding: 133px 180px 100px;
    width: 1440px;
  }
}

.e-l-footer-container {
  background: #ea5657;

  width: 375px;
  padding: 53px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #030106;
  gap: 27px;
}

.e-l-footer-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;

  gap: 16px;
}

.e-l-footer-text {
  text-decoration: none;
  color: inherit;
}

.e-l-footer-copyright {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1208px) {
  .e-l-footer-container {
    width: 1440px;
    padding: 46px 180px;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .e-l-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 241px;
    font-family: Baloo 2;
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .e-l-footer-copyright {
    font-family: Baloo 2;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-l-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 38px 17px;
  background: linear-gradient(360deg, #fb090b -2.56%, #fbe180 100%);

  z-index: 1000;
  display: none;
}

.e-l-cookie-popup-text-two {
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: #030106;
}

.e-l-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.e-l-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #0c1223;
  width: 295px;

  border-radius: 40px;
  padding-top: 24px;

  padding-bottom: 24px;
  font-family: Baloo 2;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #030106;
}

#accept-cookies {
  background-color: #030106;
  color: #b77879;
}

.e-l-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1208px) {
  .e-l-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 180px;
  }

  .e-l-cookie-popup-text-two {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    width: 595px;
  }

  .e-l-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 26px;
  }

  .e-l-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 35px;
    display: none;
  }
}
